<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--extension
         point="org.eclipse.ui.editors">
      <editor
            name="Minimark"
            extensions="minimark"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.packtpub.e4.minimark.ui.MinimarkEditor"
            id="com.packtpub.e4.minimark.ui.minimarkeditor">
      </editor>
   </extension-->
   <extension id="MinimarkBuilder" point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
            <run class="com.packtpub.e4.minimark.ui.MinimarkBuilder"/>
      </builder>
   </extension>
</plugin>
